*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/.name
/.idea/AndroidProjectSystem.xml
/app/release/app-release.apk
/app/release/baselineProfiles/0/app-release.dm
/app/release/baselineProfiles/1/app-release.dm
/.idea/compiler.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/app/release/output-metadata.json
/.idea/runConfigurations.xml
/.idea/vcs.xml
